*.aps
*.opensdf
*.suo
*.sdf
*.user
.vs/*
*.o
*.obj
*.log
*.stackdump

/product/
/tools/*.zip
/.metadata/

/dev/areg/Debug/*
/dev/areg/Release/*
/dev/areg/.settings/

/dev/mcrouter/Debug/*
/dev/mcrouter/Release/*
/dev/mcrouter/.settings/

/examples/test-areg-basic/Debug/
/examples/test-areg-basic/Release/
/examples/test-areg-basic/.settings/

/examples/01_hello/debug/
/examples/01_hello/release/
/examples/01_hello/.settings/

/examples/02_buffer/debug/
/examples/02_buffer/release/
/examples/02_buffer/.settings/

/examples/03_file/debug/
/examples/03_file/release/
/examples/03_file/.settings/

/examples/04_trace/debug/
/examples/04_trace/release/
/examples/04_trace/.settings/
/examples/04_trace/logs/

/examples/05_timer/debug/
/examples/05_timer/release/
/examples/05_timer/.settings/
/examples/05_timer/logs/

/examples/06_threads/debug/
/examples/06_threads/release/
/examples/06_threads/.settings/
/examples/06_threads/logs/

/examples/07_synch/debug/
/examples/07_synch/release/
/examples/07_synch/.settings/
/examples/07_synch/logs/

/examples/08_service/debug/
/examples/08_service/release/
/examples/08_service/.settings/
/examples/08_service/logs/

/examples/09_duplicate/debug/
/examples/09_duplicate/release/
/examples/09_duplicate/.settings/
/examples/09_duplicate/logs/

/examples/10_svchello/debug/
/examples/10_svchello/release/
/examples/10_svchello/.settings/
/examples/10_svchello/logs/

/examples/11_svcmix/debug/
/examples/11_svcmix/release/
/examples/11_svcmix/.settings/
/examples/11_svcmix/logs/

/examples/12_ipchello/shripchello/debug/
/examples/12_ipchello/shripchello/release/
/examples/12_ipchello/shripchello/.settings/
/examples/12_ipchello/shripchello/logs/
/examples/12_ipchello/svcipchello/debug/
/examples/12_ipchello/svcipchello/release/
/examples/12_ipchello/svcipchello/.settings/
/examples/12_ipchello/svcipchello/logs/
/examples/12_ipchello/usripchello/debug/
/examples/12_ipchello/usripchello/release/
/examples/12_ipchello/usripchello/.settings/
/examples/12_ipchello/usripchello/logs/

/examples/13_ipcmix/clientipcmix/debug/
/examples/13_ipcmix/clientipcmix/release/
/examples/13_ipcmix/clientipcmix/.settings/
/examples/13_ipcmix/clientipcmix/logs/
/examples/13_ipcmix/mainipcmix/debug/
/examples/13_ipcmix/mainipcmix/release/
/examples/13_ipcmix/mainipcmix/.settings/
/examples/13_ipcmix/mainipcmix/logs/
/examples/13_ipcmix/secondipcmix/debug/
/examples/13_ipcmix/secondipcmix/release/
/examples/13_ipcmix/secondipcmix/.settings/
/examples/13_ipcmix/secondipcmix/logs/
/examples/13_ipcmix/shareipcmix/debug/
/examples/13_ipcmix/shareipcmix/release/
/examples/13_ipcmix/shareipcmix/.settings/
/examples/13_ipcmix/shareipcmix/logs/
