*.aps
*.opensdf
*.suo
*.sdf
*.user
*.o
*.obj
*.log
*.stackdump
*.d

.metadata
.vs
.vscode
.github/*
.github/workflows/*
product/*
tools/*.zip

areg-sdk.code-workspace

Debug
Release
framework/areg/Debug
framework/areg/Release
framework/areg/.settings
framework/areg/.gitignore

framework/mcrouter/Debug
framework/mcrouter/Release
framework/mcrouter/.settings
framework/mcrouter/.gitignore

examples/*/.gitignore
examples/*/.settings
examples/*/Debug
examples/*/Release

examples/*/*/.gitignore
examples/*/*/.settings
examples/*/*/Debug
examples/*/*/Release

examples/*/*/*/.gitignore
examples/*/*/*/.settings
examples/*/*/*/Debug
examples/*/*/*/Release
