[Unit]
Description=Areg TCP/IP Logging Service to collect application logs
StartLimitIntervalSec=1

[Service]
# Set the full path to logcollector.elf file and start with option '--service'
ExecStart=/usr/local/bin/logcollector.elf --service
Type=simple
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
Alias=logcollector.service

# Run this file under Linux with admin rights to enable, start or stop Areg Log Collector Service.
# Example:
# Enable service: sudo systemctl enable logcollector.service
# Start  service: sudo systemctl start  logcollector.service
# Stop   service: sudo systemctl stop   logcollector.service
