[Unit]
Description=AREG TCP/IP Multicast Router Service to automate messaging
StartLimitIntervalSec=1

[Service]
# Set the full path to mcrouter.out file and start with option '--service'
ExecStart=/usr/local/bin/mcrouter.out --service
Type=simple
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
Alias=mcrouter.service

# Run this file under Linux with admin rights to enable, start or stop AREG Multicast Router Service.
# Example:
# Enable service: sudo systemctl enable mcrouter.service
# Start  service: sudo systemctl start mcrouter.service
# Stop   service: sudo systemctl stop mcrouter.service
