name: C/C++ CI

on:
  push:
    branches: [ master ]
    paths:
      - .github/workflows/c-cpp.yml
      - '**Makefile'
      - '!.github/workflows/cmake.yml'
      - '!.github/workflows/msbuild.yml'
      - '!**CMakeLists.txt'
      - '!**.txt'
      - '!**.md'
      - '!**.sln'
      - '!**.vcxproj'
      - '!**.vcxproj.filter'
  pull_request:
    branches: [ master ]
    paths:
      - '!**Readme'
      - '!**md'
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v2
    
    - name: run make
      run: make
