name: CMake

on:
  push:         # Keep empty to run on each branch when push the code. Otherwise use branches: [ master ]
    branches: [ master ]
  pull_request: # Set to master to run only when merge with master branch
    branches: [ master ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

# The CMake configure and build commands are platform agnostic and should work equally well on Windows or Linux.
# You can convert this to a matrix build if you need cross-platform coverage.
# See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix

jobs:
  build-tests:
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}

    strategy:
      fail-fast: false
      matrix:
        config: # Create matrix with combinations

            # compile AREG engine as a shared library with GNU g++ / gcc on Ubuntu Linux, enable AREG extensions and logs
          - { name  : linux-gnu-shared-ext-log,
              os    : ubuntu-latest,
              lib   : shared,
              family: gnu,
              cxx   : g++,
              cc    : gcc,
              extend: ON,
              logs  : ON,
              test  : OFF
            }

            # compile AREG engine as a shared library with GNU g++ / gcc on Ubuntu Linux, enable AREG extensions and no logs
          - { name  : linux-gnu-shared-ext-nolog,
              os    : ubuntu-latest,
              lib   : shared,
              family: gnu,
              cxx   : g++,
              cc    : gcc,
              extend: ON,
              logs  : OFF,
              test  : OFF
            }

            # compile AREG engine as a static library with GNU g++ / gcc on Ubuntu Linux, enable AREG extensions, logs, examples and tests
          - { name  : linux-gnu-static-all-test,
              os    : ubuntu-latest,
              lib   : static,
              family: gnu,
              cxx   : g++,
              cc    : gcc,
              extend: ON,
              logs  : ON,
              test: ON
            }

            # compile AREG engine as a shared library with GNU g++ / gcc on Ubuntu Linux, enable AREG extensions, logs, examples and tests
          - { name  : linux-gnu-shared-all-test,
              os    : ubuntu-latest,
              lib   : shared,
              family: gnu,
              cxx   : g++,
              cc    : gcc,
              extend: ON,
              logs  : ON,
              test  : ON
            }

            # compile AREG engine as a shared library with GNU g++ / gcc on Ubuntu Linux, disable AREG extensions and no logs
          - { name  : linux-gnu-shared-noext-nolog,
              os    : ubuntu-latest,
              lib   : shared,
              family: gnu,
              cxx   : g++,
              cc    : gcc,
              extend: OFF,
              logs  : OFF,
              test  : OFF
            }

            # compile AREG engine as a shared library with clang on Ubuntu Linux, enable AREG extensions and logs
          - { name  : linux-clang-shared-ext-log,
              os    : ubuntu-latest,
              lib   : shared,
              family: llvm,
              cxx   : clang++,
              cc    : clang,
              extend: ON,
              logs  : ON,
              test  : OFF
            }

            # compile AREG engine as a shared library with clang on Ubuntu Linux, enable AREG extensions and no logs
          - { name  : linux-clang-shared-ext-nolog,
              os    : ubuntu-latest,
              lib   : shared,
              family: llvm,
              cxx   : clang++,
              cc    : clang,
              extend: ON,
              logs  : OFF,
              test  : OFF
            }

            # compile AREG engine as a static library with clang on Ubuntu Linux, enable AREG extensions, logs, examples and tests
          - { name  : linux-clang-static-all-test,
              os    : ubuntu-latest,
              lib   : static,
              family: llvm,
              cxx   : clang++,
              cc    : clang,
              extend: ON,
              logs  : ON,
              test  : ON
            }

            # compile AREG engine as a static library with clang on Ubuntu Linux, enable AREG extensions, logs, examples and tests
          - { name  : linux-clang-shared-all-test,
              os    : ubuntu-latest,
              lib   : shared,
              family: llvm,
              cxx   : clang++,
              cc    : clang,
              extend: ON,
              logs  : ON,
              test  : ON
            }

            # compile AREG engine as a shared library with clang on Ubuntu Linux, disable AREG extensions and no logs
          - { name  : linux-clang-shared-noext-nolog,
              os    : ubuntu-latest,
              lib   : shared,
              family: llvm,
              cxx   : clang++,
              cc    : clang,
              extend: OFF,
              logs  : OFF,
              test  : OFF
            }

            # compile AREG engine as a shared with CYGWIN g++ / gcc on Windows, enable AREG extensions and logs
          - { name  : win-cygwin-shared-ext-log,
              os    : windows-2022,
              lib   : shared,
              family: cygwin,
              cxx   : g++,
              cc    : gcc,
              extend: ON,
              logs  : ON,
              test  : OFF}

            # compile AREG engine as a shared with CYGWIN g++ / gcc on Windows, enable AREG extensions and no logs
          - { name  : win-cygwin-shared-ext-nolog,
              os    : windows-2022,
              lib   : shared,
              family: cygwin,
              cxx   : g++,
              cc    : gcc,
              extend: ON,
              logs  : OFF,
              test  : OFF
            }

            # compile AREG engine as a static with CYGWIN g++ / gcc on Windows, enable AREG extensions, logs, examples and tests
          - { name  : win-cygwin-static-all-test,
              os    : windows-2022,
              lib   : static,
              family: cygwin,
              cxx   : g++,
              cc    : gcc,
              extend: ON,
              logs  : ON,
              test  : ON
            }

            # compile AREG engine as a static with CYGWIN g++ / gcc on Windows, enable AREG extensions, logs, examples and tests
          - { name  : win-cygwin-shared-all-test,
              os    : windows-2022,
              lib   : shared,
              family: cygwin,
              cxx   : g++,
              cc    : gcc,
              extend: ON,
              logs  : ON,
              test  : ON
            }

            # compile AREG engine as a shared with CYGWIN g++ / gcc on Windows, disable AREG extensions and no logs
          - { name  : win-cygwin-shared-noext-nolog,
              os    : windows-2022,
              lib   : shared,
              family: cygwin,
              cxx   : g++,
              cc    : gcc,
              extend: OFF,
              logs  : OFF,
              test  : OFF
            }

          # compile AREG engine as a shared library with clang on Windows, enable AREG extensions and logs
          - { name  : win-clang-shared-ext-log,
              os    : windows-2022,
              lib   : shared,
              family: llvm,
              cxx   : clang-cl,
              cc    : clang-cl,
              extend: ON,
              logs  : ON,
              test  : OFF
            }

            # compile AREG engine as a shared library with clang on Windows, enable AREG extensions and no logs
          - { name  : win-clang-shared-ext-nolog,
              os    : windows-2022,
              lib   : shared,
              family: llvm,
              cxx   : clang-cl,
              cc    : clang-cl,
              extend: ON,
              logs  : OFF,
              test  : OFF
            }

            # compile AREG engine as a static library with clang on Windows, enable AREG extensions, logs, examples and tests
          - { name  : win-clang-static-all-test,
              os    : windows-2022,
              lib   : static,
              family: llvm,
              cxx   : clang-cl,
              cc    : clang-cl,
              extend: ON,
              logs  : ON,
              test  : ON
            }

            # compile AREG engine as a static library with clang on Windows, enable AREG extensions, logs, examples and tests
          - { name  : win-clang-shared-all-test,
              os    : windows-2022,
              lib   : shared,
              family: llvm,
              cxx   : clang-cl,
              cc    : clang-cl,
              extend: ON,
              logs  : ON,
              test  : ON
            }

            # compile AREG engine as a shared library with clang on Windows, disable AREG extensions and no logs
          - { name  : win-clang-shared-noext-nolog,
              os    : windows-2022,
              lib   : shared,
              family: llvm,
              cxx   : clang-cl,
              cc    : clang-cl,
              extend: OFF,
              logs  : OFF,
              test  : OFF
            }

            # compile AREG engine as a shared with MSVC on Windows, enable AREG extensions and logs
          - { name  : win-msvc-shared-ext-log,
              os    : windows-2022,
              lib   : shared,
              family: msvc,
              cxx   : cl,
              cc    : cl,
              extend: ON,
              logs  : ON,
              test  : OFF
            }

            # compile AREG engine as a shared with MSVC on Windows, enable AREG extensions and no logs
          - { name  : win-msvc-shared-ext-nolog,
              os    : windows-2022,
              lib   : shared,
              family: msvc,
              cxx   : cl,
              cc    : cl,
              extend: ON,
              logs  : OFF,
              test  : OFF
            }

            # compile AREG engine as a static with MSVC on Windows, enable AREG extensions, logs, examples and tests
          - { name  : win-msvc-static-all-test,
              os    : windows-2022,
              lib   : static,
              family: msvc,
              cxx   : cl,
              cc    : cl,
              extend: ON,
              logs  : ON,
              test  : ON
            }

            # compile AREG engine as a static with MSVC on Windows, enable AREG extensions, logs, examples and tests
          - { name  : win-msvc-shared-all-test,
              os    : windows-2022,
              lib   : shared,
              family: msvc,
              cxx   : cl,
              cc    : cl,
              extend: ON,
              logs  : ON,
              test  : ON
            }

            # compile AREG engine as a shared with MSVC on Windows, enable AREG extensions and logs
          - { name  : win-msvc-shared-noext-log,
              os    : windows-2022,
              lib   : shared,
              family: msvc,
              cxx   : cl,
              cc    : cl,
              extend: OFF,
              logs  : ON,
              test  : OFF
            }

            # compile AREG engine as a shared with MSVC on Windows, enable AREG extensions and no logs
          - { name  : win-msvc-shared-noext-nolog,
              os    : windows-2022,
              lib   : shared,
              family: msvc,
              cxx   : cl,
              cc    : cl,
              extend: OFF,
              logs  : OFF,
              test  : OFF
            }

    steps:

      - name: Checkout AREG engine (AREG SDK) source codes
        uses: actions/checkout@v4

      - name: Setup Java JDK to run code generator
        uses: actions/setup-java@v4.4.0
        with: 
          java-version: 17
          java-package: jre
          distribution: temurin

      - name: Set cmake cache destination for Linux
        if: matrix.config.os == 'ubuntu-latest'
        run: |
            echo "CACHE_DEST=./product/cache/${{matrix.config.family}}-${{matrix.config.cxx}}" >> "$GITHUB_ENV"
            echo "BUILD_DEST=./product/build/${{matrix.config.family}}-${{matrix.config.cxx}}/linux-64-x86_64-release-${{matrix.config.lib}}" >> "$GITHUB_ENV"
            echo "INSTALL_DEST=./product/install/${{matrix.config.family}}-${{matrix.config.cxx}}" >> "$GITHUB_ENV"

      - name: Set cmake cache destination for Windows
        if: matrix.config.os == 'windows-2022'
        run: |
            echo "CACHE_DEST=./product/cache/${{matrix.config.family}}-${{matrix.config.cxx}}" >> $env:GITHUB_ENV
            echo "BUILD_DEST=./product/build/${{matrix.config.family}}-${{matrix.config.cxx}}/windows-64-amd64-release-${{matrix.config.lib}}" >> $env:GITHUB_ENV
            echo "INSTALL_DEST=./product/install/${{matrix.config.family}}-${{matrix.config.cxx}}" >> $env:GITHUB_ENV

      - name: Set Windows PATH environment variable
        if: matrix.config.os == 'windows-2022' && matrix.config.family == 'cygwin'
        run: echo "PATH=C:\cygwin;C:\cygwin\bin;C:\cygwin\lib;%SYSTEMROOT%\system32;%PATH%" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Install cygwin on Windows
        if: matrix.config.os == 'windows-2022' && matrix.config.family == 'cygwin'
        uses: cygwin/cygwin-install-action@v4
        with:
          packages: cmake, dos2unix, flexdll, gcc-g++, git, libncurses-devel, make

      - name: Configure CMake by selecting compiler family
        if: matrix.config.extend == 'ON'
        working-directory: ${{github.workspace}}
        run: |
          cmake -B ${{env.CACHE_DEST}} -DAREG_COMPILER_FAMILY=${{matrix.config.family}} -DAREG_BUILD_TYPE=${{env.BUILD_TYPE}} -DAREG_BINARY=${{matrix.config.lib}} -DAREG_EXTENDED:BOOL=${{matrix.config.extend}} -DAREG_LOGS:BOOL=${{matrix.config.logs}} -DAREG_BUILD_EXAMPLES:BOOL=${{matrix.config.test}} -DAREG_BUILD_TESTS:BOOL=${{matrix.config.test}} -DAREG_INSTALL:BOOL=ON -DAREG_INSTALL_PATH:PATH="${{env.INSTALL_DEST}}"

      - name: Configure CMake by selecting compiler name
        if: matrix.config.extend == 'OFF'
        working-directory: ${{github.workspace}}
        run: |
          cmake -B ${{env.CACHE_DEST}} -DAREG_COMPILER=${{matrix.config.cc}} -DAREG_BUILD_TYPE=${{env.BUILD_TYPE}} -DAREG_BINARY=${{matrix.config.lib}} -DAREG_EXTENDED:BOOL=${{matrix.config.extend}} -DAREG_LOGS:BOOL=${{matrix.config.logs}} -DAREG_BUILD_EXAMPLES:BOOL=${{matrix.config.test}} -DAREG_BUILD_TESTS:BOOL=${{matrix.config.test}} -DAREG_INSTALL:BOOL=ON -DAREG_INSTALL_PATH:PATH="${{env.INSTALL_DEST}}"

      - name: Build with CMake
        working-directory: ${{github.workspace}}
        # Build your program with the given configuration
        run: cmake --build ${{env.CACHE_DEST}} -j

      - name: Install with CMake
        working-directory: ${{github.workspace}}
        # Install the binaries and headers
        run: cmake --install ${{env.CACHE_DEST}}

      - name: Run Unit Tests. Ignore if unit tests are not compiled
        if: matrix.config.test == 'ON'
        working-directory: ${{github.workspace}}
        run: ctest --test-dir ${{env.CACHE_DEST}} --output-on-failure --output-junit test_results.xml

      - name: Copy test artifacts if unit tests fail. Ignore if unit tests are not compiled
        if: failure() && matrix.config.test == 'ON'
        working-directory: ${{github.workspace}}
        shell: bash
        run: |
          mkdir ./${{matrix.config.name}}/
          cp -R ./${{env.BUILD_DEST}}/bin/ ./${{matrix.config.name}}/
          cp -R ./${{env.INSTALL_DEST}}/   ./${{matrix.config.name}}/

      - name: Upload artifacts if tests fail. Ignore if unit tests are not compiled
        if: failure() && matrix.config.test == 'ON'
        uses: actions/upload-artifact@v4
        with:
          name: ${{matrix.config.name}}
          path: ./${{matrix.config.name}}/
